*{
    padding: 0;
    margin: 0;
    color: #FFFFFF;

    font-family: "IBM Plex Serif", serif;
    font-weight: 400;
    font-style: normal;
}

body{
background-color: #353129;
}

h1{
    text-align: center;
    background-color: #0E0E0E;
    color: rgb(255, 255, 255);
    padding: 20px;
}

h2{
    padding: 15px;
    margin: 15px;
}

p{
    text-align: justify;
    font-size: 20px;
    padding: 15px;
    margin: 15px;
}

ul{
    margin-left: 35px;
    list-style: none;
}

li{
    font-size: 30px;
}

a{
    text-decoration:underline dotted;
    font-size: 20px;
}

.citacaoViagem{
    margin: -15px;
    padding-top: 30px;
}

footer{
    padding: 40px;
    margin-top: 40px;
    background-color: #0E0E0E;
    background-image: url();
}

img{
    width: 450px;
    margin: auto;
    border: 5px solid black;
}

a:hover{
    color: #ffae00;
}

.imagemPrincipal{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 450px;
}

.pontoTuristico{
    margin: 15px;
    ul{
        list-style: circle;
    }
}   

#Autor{
    margin: -15px;
}


.funcao{

    margin: 15px;
}

#voltar{
    padding: 15px;
}